@use "@angular/material" as mat;
@include mat.core();

html,
body {
  height: 100%;
}

body {
  font-family: Inter, "Helvetica Neue", sans-serif;
}

$custom-theme: mat.define-theme(
  (
    color: (
      use-system-variables: true,
    ),
    typography: (
      plain-family: 'Inter, "Helvetica Neue", sans-serif,',
    ),
  )
);

html {
  @include mat.all-component-themes($custom-theme);
}
